* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

header {
  background-color: #383838;
  position: relative;
  bottom: 27px;
  height: 80px;
}

.nav ul li{
  text-align: center;
  text-decoration: none;
  display: inline;
  padding-right: 60px;
}

.nav ul li a {
  text-decoration: none;
  color: #FFFFFF;
}

.nav ul li a:hover {
  color: #000000;
}

h1 {
  font-family: "Unlock", cursive;
  letter-spacing: 0.2em;
  color: rgb(192,192,192);
  line-height: 1.5;
  font-size: 40px;
  position: relative;
  left: 15px;
  top: 8px;
}

.nav ul {
  position: relative;
  left: 500px;
  bottom: 60px;
  font-size: 22px;
  font-family: "Vidaloka", serif;
}

.links li a {
  text-decoration: none;
  font-size: 17px;
  font-family: geneva;
  color: silver;
}

.links li a:hover {
  color: white;
}

.links li {
  text-align: center;
  display: inline-block;
  padding: 0px 50px;
  position: relative;
  top: 60px;
  left: 150px;
  color: silver;
}

footer {
  background-color: black;
  height: 152px
}

.order-form {
  position: relative;
  z-index: 1;
  background: rgba(169,169,169, 0);
  width: 500px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  top:30px ;
  right: 290px;
  /*border: 1px;
  border-style: dotted;*/
}

.order-form input {
  display: block;
  padding: 10px;
  width: 400px;
  margin-bottom: 10px;
  border-radius: 17px;
  border-width: 1px;
  font-size: 13px;
  background-color: #C0C0C0;
  font-family: geneva;
}

.order-form button {
  padding: 8px;
  border-radius: 17px;
  background-color: #A9A9A9;
  font-family: geneva;
}

.order-form button:hover {
  background-color: #ffffff;
}

.order-form .message {
  font-family: geneva;
}

.order-form .message a {
  color: #A9A9A9;
}

.order-form .message a:hover {
  color: #C0C0C0;
}

.activity {
  position: relative;
  left: 50px;
}

.activity p {
  font-family: geneva;
}
