* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

header {
  background-color: #585858;
  position: relative;
  bottom: 27px;
  height: 80px;
}

.nav ul li{
  text-align: center;
  text-decoration: none;
  display: inline;
  padding-right: 60px;
}

.nav ul li a {
  text-decoration: none;
  color: #000000;
}

h1 {
  font-family: "Unlock", cursive;
  letter-spacing: 0.2em;
  color: rgb(192,192,192);
  line-height: 1.5;
  font-size: 40px;
  position: relative;
  left: 15px;
  top: 8px;
}

.nav ul {
  position: relative;
  left: 500px;
  bottom: 60px;
  font-size: 22px;
}

main {
  text-align: center;
}

main a {
  font-size: 25px;
  text-decoration: none;
  border: 1px;
  border-style: solid;
  border-radius: 4px;
  padding: 10px;
  color: rgb(192,192,192);
  background-color: #585858;
}
