* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

header {
  background-color: #383838;
  position: relative;
  bottom: 27px;
  height: 80px;
}

.nav ul li{
  text-align: center;
  text-decoration: none;
  display: inline;
  padding-right: 60px;
}

.nav ul li a {
  text-decoration: none;
  color: #FFFFFF;
}

.nav ul li a:hover {
  color: #000000;
}

h1 {
  font-family: "Unlock", cursive;
  letter-spacing: 0.2em;
  color: rgb(192,192,192);
  line-height: 1.5;
  font-size: 40px;
  position: relative;
  left: 15px;
  top: 8px;
}

.nav ul {
  position: relative;
  left: 500px;
  bottom: 60px;
  font-size: 22px;
  font-family: "Vidaloka", serif;
}

main {
  text-align: center;
}

main a {
  font-size: 25px;
  text-decoration: none;
  border: 1px;
  border-style: solid;
  border-radius: 4px;
  padding: 10px;
  color: rgb(192,192,192);
  background-color: #585858;
  font-family: "Oswald", sans-serif;
}

main a:hover {
  background-color: #FFFFFF;
}

main p {
  font-size: 20px;
  font-family: "Noto Serif", serif;
}

.content {
  position: relative;
  bottom: 170px;
}

.welcome h2 {
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
  font-size: 40px;
  margin-top: 0px;
  letter-spacing: 0.2em;
  line-height: 60px;
}

img {
  height: 190px;
  width: 200px;
}

.welcome p {
  border-radius: 5px;
  font-size: 25px;
}

.first .second {
  display: inline-block;
}

.first p {
  width: 470px;
  height: 190px;
  position: relative;
  left: 70px;
  padding-top: 5px;
  color: rgb(192,192,192);
  background-color: #585858;
}

.second p {
  width: 470px;
  height: 190px;
  position: relative;
  left: 890px;
  padding-top: 35px;
  color: rgb(192,192,192);
  background-color: #585858;
}

.first img {
  position: relative;
  bottom: 210px;
  left: 100px;
}

.second img {
  position: relative;
  bottom: 200px;
  right: 100px;
}

.first {
  position: relative;
  top: 40px;
}

.second {
  position: relative;
  bottom: 50px;
}
