* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

header {
  background-color: #C0C0C0;
  position: relative;
  bottom: 21px;
}

.nav ul li{
  text-align: center;
  text-decoration: none;
  display: inline;
}
